.main {
  max-width: 1200px;
  margin: auto;
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: #ebd9c2;
}
header .manu-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
  opacity: 0.9;
  visibility: hidden;
  overflow: hidden;
}
header .manu-nav li a {
  color: #fff;
  padding: 10px;
}
header .manu-nav.open {
  visibility: visible;
}
header .menu-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 3;
  height: 20px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
header .menu-btn-burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
header .menu-btn-burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #fff;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
header .menu-btn-burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background-color: #fff;
}
header .menu-btn-burger.open {
  transform: rotate(720deg);
  background: transparent;
}
header .menu-btn-burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
header .menu-btn-burger.open::after {
  transform: rotate(-45deg) translate(3px, -7px);
}

.container {
  width: 100%;
}

.home-text .btn {
  margin: 0 15px 15px 0;
}

.home-text,
.home-image {
  width: 50%;
  padding: 0 15px;
}

.home-text p {
  font-size: 18px;
}

.home-text h1 {
  font-size: 50px;
  text-transform: capitalize;
}

.home-text h2 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 300;
  margin: 0 0 30px;
}

.items-center {
  align-items: center;
}

.home-section {
  display: flex;
  padding: 120px 0;
}

.home-image .home-image-box {
  max-width: 360px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 19px solid rgba(255, 255, 255, 0.4);
  margin: auto;
  padding: auto;
}

.home-image .home-image-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}

.image-box {
  width: 40%;
  padding: 0 15px;
}

.about-text {
  width: 60%;
  padding: 0 15px;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: capitalize;
}
.about-text .skills {
  display: flex;
  flex-wrap: wrap;
}
.about-text .skills .skills-item {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: capitalize;
}

.about-text h3 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px 0;
}

.about-text .image-box .about-img {
  max-width: 380px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.image-box .about-img img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  padding: 5vh 15px;
  min-height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, rgba(255, 239, 213, 0.44), #ffd9b3);
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(17, 17, 17, 0.598);
  overflow-x: hidden;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}
body::after {
  box-sizing: border-box;
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: peru;
  z-index: -1;
  opacity: 0.15;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

section {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-height: 90vh;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  backdrop-filter: blur(5px);
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sec-padding {
  padding: 80px 0;
}

.section-title {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 40px;
  text-transform: capitalize;
}

.container {
  padding: 0 40px;
}

img {
  width: 100%;
  vertical-align: middle;
}

.btn {
  line-height: 1;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: #ff9933;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: capitalize;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.btn::before {
  content: "";
  position: absolute;
  color: #ff9933;
  background-color: #ff9933;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ffcc99;
}

/*# sourceMappingURL=index.css.map */
