@keyframes zoom {
  0%, 100% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
}
.main {
  max-width: 1200px;
  margin: auto;
  position: relative;
  transition: all 0.2s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}
.main.fade-out {
  visibility: hidden;
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: #ebd9c2;
}
header .manu-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
  opacity: 0.9;
  visibility: hidden;
  overflow: hidden;
}
header .manu-nav li a {
  color: #fff;
  padding: 10px;
}
header .manu-nav.open {
  visibility: visible;
}
header .menu-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 3;
  height: 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
header .menu-btn-burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
header .menu-btn-burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
header .menu-btn-burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 28px;
  height: 3px;
  background-color: #fff;
}
header .menu-btn-burger.open {
  transform: rotate(720deg);
  background: transparent;
}
header .menu-btn-burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}
header .menu-btn-burger.open::after {
  transform: rotate(-45deg) translate(3px, -7px);
}

.container {
  width: 100%;
}

.home-text .btn {
  margin: 0 15px 15px 0;
}

.home-text,
.home-image {
  width: 50%;
  padding: 0 15px;
}

.home-text p {
  font-size: 18px;
}

.home-text h1 {
  font-size: 50px;
  text-transform: capitalize;
}

.home-text h2 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 300;
  margin: 0 0 30px;
}

.items-center {
  align-items: center;
}

.home-section {
  padding: 120px 0;
}
.home-section.active {
  display: flex;
}

.home-image .home-image-box {
  max-width: 360px;
  height: 360px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 19px solid rgba(255, 255, 255, 0.4);
  margin: auto;
  padding: auto;
}

.home-image .home-image-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  object-fit: cover;
}

.image-box {
  width: 40%;
  padding: 0 15px;
}

.about-text {
  width: 60%;
  padding: 0 15px;
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: capitalize;
}
.about-text .skills {
  display: flex;
  flex-wrap: wrap;
}
.about-text .skills .skills-item {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: capitalize;
  margin: 0 10px 10px 0;
  border-radius: 20px;
  color: #dea975;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.about-text h3 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px 0;
}

.about-text .image-box .about-img {
  max-width: 380px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.image-box .about-img img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.about-tabs {
  margin: 20px;
}
.about-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: rgba(17, 17, 17, 0.598);
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.about-tabs .tab-item.active {
  color: #dea975;
  opacity: 1;
  cursor: auto;
}
.about-tabs .tab-item.active::before {
  width: 100%;
  background-color: #dea975;
}
.about-tabs .tab-item:last-child {
  margin: 0;
}
.about-tabs .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #dea975;
}
.about-tabs .tab-item:hover::before {
  width: 100%;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.about-text .btn {
  margin: 5px 0 5px 0;
}
.about-text .timeline {
  position: relative;
}
.about-text .timeline::before {
  content: "";
  position: absolute;
  height: 117%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: #dea975;
}
.about-text .timeline-item {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}
.about-text .timeline-item h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 10px;
  font-weight: 400;
}
.about-text .timeline-item .date {
  display: block;
  color: #dea975;
  font-weight: 400;
  margin: 0 0 10px;
}
.about-text .timeline-item:last-child {
  margin-bottom: 5px;
}
.about-text .timeline-item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: #dea975;
  left: 0;
  top: 16px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.about-text .tab-content {
  padding: 40px 0;
  display: none;
}
.about-text .tab-content.active {
  display: block;
}

.works-item {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
  transition: all 0.2s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}
.works-item h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 20px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.works-item-thumb {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.works-item-thumb img {
  width: 100%;
}

.work-item-details {
  display: none;
}

.portfolio-section {
  padding-bottom: 50px;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  opacity: 1;
  overflow-y: auto;
  visibility: hidden;
}
.popup.open {
  visibility: visible;
  overflow-y: auto;
}
.popup.open .pop-content {
  transform: scale(1);
  transition: all 0.2s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}
.popup .pop-inner {
  min-height: 100vh;
  padding: 40px 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup .pop-inner .pop-content {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  backdrop-filter: blur(1px);
  transform: scale(0.9);
}
.popup .pop-inner .pop-content .pop-header {
  position: relative;
}
.popup .pop-inner .pop-content .pop-header .pop-thumb img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  object-fit: cover;
}
.popup .pop-inner .pop-content .pop-header .btn {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -40px;
  top: -40px;
}
.popup .pop-inner .pop-content .pop-body .description {
  margin-bottom: 20px;
}
.popup .pop-inner .pop-content .pop-body .description p {
  text-transform: capitalize;
  color: #ff9933;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.popup .pop-inner .pop-content .pop-body .general li {
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.popup .pop-inner .pop-content .pop-body .general li a {
  text-transform: lowercase;
  color: #ff9933;
}
.popup .pop-inner .pop-content .pop-body .general span {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contact-form {
  width: 50%;
  padding: 0 15px;
}
.contact-form .input-group {
  width: 100%;
  margin-bottom: 30px;
}
.contact-form .input-group .input-control {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 20px;
  color: rgba(17, 17, 17, 0.598);
  border: 1px solid transparent;
  transition: border-color 0.4s ease;
  -webkit-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease;
  -ms-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
}
.contact-form .input-group .input-control::placeholder {
  color: rgba(17, 17, 17, 0.598);
  opacity: 0.9;
  font-weight: 300;
}
.contact-form .input-group .input-control:focus {
  border-color: rgba(255, 255, 255, 0.598);
}

#text-area {
  height: 120px;
  resize: none;
  padding-top: 15px;
}

.contact-info {
  width: 50%;
  padding: 0 15px;
}
.contact-info-item {
  margin: 0 0 30px;
  padding: 0 0 0 20px;
}
.contact-info-item h3 {
  font-size: 20px;
  text-transform: capitalize;
  margin: 0 0 5px;
}
.contact-info-item-links a {
  display: inline-flex;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.4);
  align-items: center;
  justify-content: center;
  color: #ff9933;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 6px 14px 0 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.contact-info-item-links a:hover {
  color: white;
  background-color: #ff9933;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px 0 0;
  background-color: inherit;
}
.header .nav-toggle {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  z-index: 1;
}
.header .nav-toggle span {
  height: 2.3px;
  width: 24px;
  background-color: #ff9933;
  position: relative;
  transition: background-color 0.3s ease;
}
.header .nav-toggle span::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ff9933;
  left: 0;
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header .nav-toggle span::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ff9933;
  right: 0;
  transform: translateY(8px);
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header .nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 35px 15px;
  overflow-y: auto;
  visibility: hidden;
}
.header .nav-inner {
  min-height: calc(100vh - 70px);
  max-width: 1200px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  padding: 50px 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.header .nav-inner ul li {
  text-align: center;
}
.header .nav-inner ul li a {
  font-size: 40px;
  text-transform: capitalize;
  color: rgba(17, 17, 17, 0.598);
  display: block;
  font-weight: 500;
  padding: 8px 15px;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  position: relative;
}
.header .nav-inner ul li a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  width: 0%;
  z-index: -1;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}
.header .nav-inner ul li a:hover {
  color: #ff9933;
}
.header .nav-inner ul li a:hover::before {
  width: 100%;
}
.header.active {
  position: fixed;
  top: 35px;
}
.header.active .container {
  max-width: 1200px;
  margin: auto;
}
.header.active .nav {
  visibility: visible;
}
.header.active .nav-inner {
  opacity: 1;
}
.header.active .nav-toggle span {
  background-color: transparent;
}
.header.active .nav-toggle span::before {
  transform: rotate(45deg);
}
.header.active .nav-toggle span::after {
  transform: rotate(-45deg);
}

.flex-end {
  justify-content: flex-end;
}

.header:not(.active) .nav-toggle:hover span::before {
  width: 50%;
}

.header:not(.active) .nav-toggle:hover span::after {
  width: 50%;
}

.bg-circles {
  position: fixed;
  top: 0;
  height: 100%;
  max-width: 1200px;
  width: calc(100% - 30px);
  left: 50%;
  transform: translateX(-50%);
}
.bg-circles div {
  position: absolute;
  border-radius: 50%;
}
.bg-circles .circle-1 {
  height: 60px;
  width: 60px;
  background-color: #ff9933;
  left: 5%;
  top: 10%;
  opacity: 0.3;
  animation: zoom 8s linear infinite;
}
.bg-circles .circle-2 {
  height: 80px;
  width: 80px;
  background-color: #dea975;
  left: 30%;
  top: 35%;
  opacity: 0.4;
  animation: bounce 5s ease-in-out infinite;
}
.bg-circles .circle-3 {
  height: 120px;
  width: 120px;
  background-color: #fff;
  right: 10px;
  top: 40%;
  opacity: 0.6;
  animation: bounce 5s ease-in-out infinite;
}
.bg-circles .circle-4 {
  height: 50px;
  width: 50px;
  background-color: #f57f08;
  left: 10px;
  top: 80%;
  opacity: 0.5;
  animation: bounce 5s ease-in-out infinite;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

body {
  padding: 35px 15px;
  min-height: 100vh;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, rgba(255, 239, 213, 0.44), #ffd9b3);
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(17, 17, 17, 0.598);
  overflow-x: hidden;
  font-weight: 300;
  -webkit-tap-highlight-color: transparent;
}
body::after {
  box-sizing: border-box;
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: peru;
  z-index: -1;
  opacity: 0.15;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

button {
  font-family: inherit;
  user-select: none;
}

section {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-height: calc(100vh - 70px);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  backdrop-filter: blur(5px);
}

section.active {
  display: block;
  animation: fadeInn 0.5s ease-in-out forwards;
  -webkit-animation: fadeInn 0.5s ease-in-out forwards;
}

section.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
  -webkit-animation: fadeOut 0.5s ease-in-out forwards;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sec-padding {
  padding: 80px 0;
}

.section-title {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 40px;
  text-transform: capitalize;
}

.container {
  padding: 0 40px;
}

img {
  width: 100%;
  vertical-align: middle;
}

.btn {
  line-height: 1;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: #ff9933;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.4);
  text-transform: capitalize;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

.btn::before {
  content: "";
  position: absolute;
  color: #ff9933;
  background-color: #ff9933;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ffcc99;
}

.hidden {
  display: none;
}

.hide-scroll {
  overflow-y: hidden;
}

.scrollY {
  overflow-y: auto;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.items-center {
  justify-content: center;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: auto;
  z-index: 100;
  background-color: transparent;
  opacity: 0.5;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.overlay.active {
  visibility: visible;
}

@media (max-width: 990px) {
  .container {
    padding: 0;
  }

  .home-text,
.home-image {
    width: 100%;
  }

  .home-text {
    text-align: center;
  }
  .home-text .btn {
    margin: 0 7px 15px;
  }

  .home-image {
    order: -1;
  }
  .home-image-box {
    max-width: 300px;
  }

  .works-item {
    width: calc(50% - 30px);
  }
}
@media (max-width: 760px) {
  .contact-form,
.contact-info {
    width: 100%;
  }

  .contact-info-item {
    padding: 0;
  }

  .contact-info {
    order: -1;
    margin-bottom: 15px;
  }

  .works-item {
    width: calc(100% - 30px);
  }

  .pop-inner {
    padding: 30px 15px;
  }

  .about-text,
.about-img {
    width: 100%;
  }

  .about-text {
    margin-top: 30px;
  }
}
@media (max-width: 575px) {
  .about-img {
    width: 430px;
    margin: 0 25px;
  }

  .about-img img {
    height: 430px;
  }

  .header .nav-inner ul li a {
    font-size: 35px;
  }

  .home-text h1 {
    font-size: 30px;
  }
  .home-text p {
    margin-top: 10px;
  }
  .home-text h2 {
    font-size: 18px;
  }

  .pop-header h3 {
    font-size: 20px;
  }
  .pop-header .pop-content {
    backdrop-filter: blur(0);
  }
}

/*# sourceMappingURL=index.css.map */
