.image-box {
  width: 40%;
  padding: 0 15px;
}
.about-text {
  width: 60%;
  padding: 5px 15px;
  background-color: $grey-20;
  border: 1px solid $grey-40;
  text-transform: capitalize;

  .skills {
    display: flex;
    flex-wrap: wrap;
    .skills-item {
      background-color: $grey-20;
      border: 1px solid $grey-40;
      padding: 5px 15px;
      border: 1px solid $grey-40;
      text-transform: capitalize;
      margin: 0 10px 10px 0;
      border-radius: 20px;
      color: $orange-light;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }
}
.about-text h3 {
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px 0;
  color: $orange-strong;
}
.about-text .image-box .about-img {
  max-width: 380px;
  border: 1px solid $grey-40;
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.image-box .about-img img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.about-tabs {
  .tab-item {
    padding: 2px 0;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    color: $black-60;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 30px 0 0;
    position: relative;
    opacity: 0.5;
    @include transition-ease;
    &.active {
      color: $orange-light;
      opacity: 1;
      cursor: auto;
    }
    &.active::before {
      width: 100%;
      background-color: $orange-light;
    }
    &:last-child {
      margin: 0;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: $orange-light;
    }
    &:hover::before {
      width: 100%;
      @include transition-ease;
    }
  }
}
