$main-color: rgba(255, 239, 213, 0.44);
$secondary-color: #ffd9b3;
$white: #fff;
$orange: #ffcc99;
$peru: peru;
$main-font: Georgia, "Times New Roman", Times, serif;
$base-font-size: 16px;
$grey-40: rgba(255, 255, 255, 0.4);
$grey-20: rgba(255, 255, 255, 0.2);
$grey-60: rgba(255, 255, 255, 0.598);
$black-60: rgba(17, 17, 17, 0.598);
$orange-strong: #ff9933;
$orange-light: #dea975;
$orange-very-dark: rgb(245, 127, 8);
$blur-filter: blur(5px);
$blur-filter-10: blur(10px);
$blur-filter-1: blur(1px);
