@mixin transition-ease {
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
@mixin transition-fast {
  transition: all 0.2s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}
@mixin transition-width {
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}
@mixin transition-border {
  transition: border-color 0.4s ease;
  -webkit-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease;
  -ms-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
}
@mixin animationZoom {
  animation: zoom 8s linear infinite;
}
@mixin animationBouce {
  animation: bounce 5s ease-in-out infinite;
}
@mixin animation-spin {
  animation: spin 1s linear infinite;
}
@keyframes zoom {
  0%,
  100% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
