@import "./config";
@import "./main";
@import "./mixin";
@import "./navigation";
@import "./home";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  &::before {
    box-sizing: border-box;
  }
  &::after {
    box-sizing: border-box;
  }
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

body {
  padding: 5vh 15px;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    $main-color,
    $secondary-color
  );
  font-family: $main-font;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $black-60;
  overflow-x: hidden;
  // object-fit: cover;
  -webkit-tap-highlight-color: transparent;
  &::after {
    box-sizing: border-box;
  }
  &::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $peru;
    z-index: -1;
    opacity: 0.15;
  }
}
section {
  background-color: $grey-20;
  border: 1px solid $grey-40;
  min-height: 90vh;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.container {
  background-color: plum !important;
  padding: 0 40px;
}
img {
  width: 100%;
  vertical-align: middle;
}
